@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

$bg_color: #ff0;
$bg_color01: #000;
$txt_color01:#f00;
$txt_color02:#00f;

// mixin 공통서식적용
@mixin h3txt {
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-size: 30px;
}

.title01{
  @include h3txt;
  background: $bg_color;
  color: $txt_color01;
}
.title02{
  @include h3txt;
  background: $bg_color;
  color: $txt_color02;
}

// 글자생략기호 나오게 하는 서식
@mixin txt_over{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.p01{
  @include txt_over;
  width: 500px;
  border: 1px solid #000;
  background: $bg_color;
}
// 버튼 글자서식
@mixin btnFont{
  font-family: "궁서체";
  font-weight: bold;
  font-size: 20px;
}
// 버튼 모양서식
@mixin btnArea{
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}
@mixin btn{
  @include btnFont;
  @include btnArea;
}
.btn01{
  @include btn;
  background-color: $bg_color;
}
.btn02{
  @include btn;
  background-color: $txt_color01;
}

$time:0.5s;





//실습예제 토글버튼
@mixin toggle{
  display: block;
  width: 40px;
  height: 4px;
  background: $bg_color01;
  margin-bottom: 10px;
  transition: 0.3s;
}
.box01 > span{
  @include toggle;
}

@mixin box{
  display: inline-block;
  width: 80px;
  border: 1px solid #333;
  height: 80px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.box_wrap{
  @include box;
}

@mixin center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}
.box01{
  @include center;
}

@mixin togglehover1{
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}
#check1:checked +.box_wrap .box01 > span:first-child{
  @include togglehover1;
}

@mixin togglehover2{
  display: none;
}
input[id="check1"]:checked + .box_wrap .box01 > span:nth-child(2){
  @include togglehover2;
}

input[id="check1"]:checked + .box_wrap .box01 > span:last-child{
@mixin togglehover3{
  transform: rotate(-45deg);
  position: relative;
  top:-4.3px;
}
  @include togglehover3;
}

// 4. mixin 함수에 매개변수 삽입하기
@mixin divBox($bgcolor){
  @include btnFont;
  background-color: $bgcolor;
}
#box01{
  @include divBox(rgb(89, 89, 141));
}
#box02{
  @include divBox(#00ff00)
}

// 테이블 테두리 서식
@mixin border($w:1px, $s:solid,$c:#f00){
  width: 300px;
  border: $w $s $c;
}
.border{
  @include border(5px, double);
}

// 테이블 배경과 크기 서식
@mixin table($t_bg:#f0f0f0){
  background: $t_bg;
  width: 500px;
}
@mixin caption($bg:#ffff00){
  background: $bg;
  padding: 10px 0px;
  font-weight: bold;
}
table{
  border-collapse: collapse;
  @include table;
}
table caption { @include caption;}
table tr td{
  line-height: 210%;
  text-align: right;
  padding-right: 20px;
}
@mixin odd_tr($bg:#fddc7a){
  background: $bg;
}
table tbody tr:nth-child(2n+1){
  @include odd_tr;
}

// 프로그래스바
.progress_wrap{
  width: 50%;
}
.progress-bar {
  display: inline-block;
  width: 80%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px 0;
}

.progress{
  width: 50%;
  height: 100%;
  background-color: #0077ff;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}
.progress_wrap span{
  display: inline-block;
  margin-bottom: 10px;
}