// 변수생성

$myFont:'맑은 고딕',arial,sans-serif;
$baseFontColor: #333;
$bigFontSize:30px;
$baseFontSize:12px;
$boxWidth:1280px;
$boxCenter:0px auto;
$border:5px double #000;
$bgcolor: #ff0;

body{
  font-family: $myFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
}
h1{
  font-size: $bigFontSize;
}
#wrap{
  width: $boxWidth;
  height: 300px;
  margin: $boxCenter;
  border: $border;
  //지역변수
  $bgcolor01: #ccc;
  background: $bgcolor01;
}